.my-color {
  color: red;
}

.my-font {
  font-family: "Open Sans";
}

.my-root-class {
  background: white;
}

.my-root-class body {
  background: none;
  background-color: #ffffff;
}

.test {
  background-color: #a024d5;
  width: 100%;
  background-color: #a024d5;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  height: 60px;
  margin-bottom: 16px;
}

/* .test-input {
  background-color: #0000000a !important;
  border: none !important;
  font-size: 14px !important;
  color: #000 !important;
  font-family: OpenSansRegular;
  border-radius: 11px !important;
  height: 60px !important;
  padding: 20px 30px !important;
} */
