name: Build and Publish Keycloak Theme

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.11.1]

    steps:
      - uses: actions/checkout@v4
        name: Checkout code

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Install dependencies
        run: yarn install

      - name: Build Keycloak theme
        run: yarn build-keycloak-theme

      - name: Get version from package.json
        id: package-version
        run: echo "VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_OUTPUT

      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: keycloak-theme-jar
          path: dist_keycloak/target/*.jar

      - name: Set version output
        id: version
        run: echo "version=${{ steps.package-version.outputs.VERSION }}" >> $GITHUB_OUTPUT

    outputs:
      version: ${{ steps.package-version.outputs.VERSION }}

  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: keycloak-theme-jar

      - name: Rename JAR file
        run: |
          JAR_FILE=$(ls *.jar | head -n 1)
          mv "$JAR_FILE" keycloak-theme.jar

      - name: Publish Jar to GitHub Releases
        uses: softprops/action-gh-release@v2
        with:
          files: "./keycloak-theme.jar"
          tag_name: v${{ needs.build.outputs.version }}
          name: "Release v${{ needs.build.outputs.version }}"
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
